/* !Global Css */
* {
  padding: 0;
  margin: 0;
}
/* !Section -1 */
.section-1 {
  height: 704px;
}

.sec1-opacity {
  height: 704px;
}
.sec1-gradient {
  height: 704px;
  padding: 40.45px 48px 172px 48.28px;
}
.bg-pic {
  width: 100%;
  height: 704px;
  background-image: url(../img/sec-1-desk.svg);
}
.desktop-side {
  display: flex;
  align-items: center;
}
.desktop-side .codeForFuture {
  width: 144px;
  height: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.desktop-side .number {
  width: 160px;
  height: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  margin-left: 60px;
}
.sec1-nav {
  margin-bottom: 113.97px;
}
.sec1-nav .algoritmika {
  width: 166.62px;
  height: 39.29px;
}
.sec1-nav .menu-icon {
  display: none;
}
.sec1-main {
  padding-left: 72px;
}
.sec1-main h2 {
  width: 560px;
  height: 140px;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0.03em;
  margin-bottom: 26px;
}
.sec1-main p {
  width: 628px;
  height: 84.49px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 47.5px;
}
.sec1-main .starting-date {
  width: 260px;
  height: 24px;
  font-size: 18px;
  line-height: 20px;
}

.sec1-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 252px;
}
.sec1-footer img:first-child {
  width: 163px;
  height: 37px;
  margin-left: 35px;
}
.sec1-footer img:last-child {
  width: 115.68px;
  height: 68px;
}

/* !Section -2 */
.section-2 {
    padding: 117.98px 112px 104.38px 120px;
    position: relative;

  }
  .section-2 > h2 {
    width: 705.85px;
height: 50.02px;
font-size: 47px;
line-height: 50px;
    margin-bottom: 136px;

  }
  .sec2-main{
      display: flex;
      
  }
  .aboutJOb{
      margin-right: 88px;
  }
  .aboutJob-icon{
    margin-bottom: 33.98px;
    width: 74.97px;
    height: 73.02px;
  }
  .aboutJob-icon img {
    width: 74.97px;
height: 73.02px;
margin-bottom: 33.98px;

  }
  .aboutJOb h3 {
    width: 260px;
height: 73.97px;
font-size: 25px;
line-height: 32px;
  }
  .aboutJOb p {
    width: 412.67px;
    height: 126.03px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;

  }
  .aboutUniversity-icon img {
    width: 85.13px;
    height: 91.32px;
    margin-bottom: 5px;

  }
  .aboutUniversity h3 {
    width: 368px;
    height: 66.03px;
    font-size: 25px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 21px;
  }
  .aboutUniversity p {
    width: 352.16px;
height: 93.37px;
font-size: 16px;
line-height: 24px;
  }
  .sec-button {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13.2857px 29.5238px;
width: 224px;
height: 48px;
position: absolute;
top: 124px;
right: 112px;
  }
  
  
  
  









/* !Section -3 */

.sect3 {
  background: #382459;
}

.sect3-container {
  display: flex;
  padding-left:120px;
  padding-top: 98.92px;
  
}

.sect3-h2 {
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 40px;
  line-height: 33px;
  text-transform: uppercase;
  color: #30FFCD;
}

.sect3-p1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 23.7px;
}

.sect3-p2 {
  display: block;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10.0042px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.62;
}


.sect3 .sect3-container .sect3-div1 .sect3-p1 {
  width: 292px;
  margin-bottom: 34.99px;
  margin-right: 192.32px;
}

.sect3-div2 {
  margin-left: 82.32px;
}


.sect3 .sect3-container .sect3-div2 .sect3-p1{
  width: 287.68px;
  margin-bottom: 34.99px;

}

.sec3-div3{
margin-top: 30px;
}
.sect3 .sect3-container .sect3-div3 .sect3-p1 {
  width: 372px;
  margin-bottom: 35px;
  margin-right: 270px;


}


.sect3 .sect3-container .sect3-div4 .sect3-p1{
  width: 360px;
  margin-bottom: 53px;
}

.block-3 img {
  position: absolute;
  right: 200px;
  bottom: -2%;
}
.sect3-div4{
  margin-left: 88px;
}
.sect3-div1{
  margin-bottom: 70px;
}

.sect3-div2{
  margin-bottom: 60.65px;
}
/* !Section -4 */

.sect4{
  background: #FFFFFF;
  height: 640px;
}

.sect4 .sect4-container{
  padding: 110px 0 0 118px;
}

.sect4-head  {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 47px;
  line-height: 50px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #382459;
}

.sect4-div {
  display: flex;
  margin-top: 110.94px;
}

.sect4-div-h {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: #382459;
  margin-bottom: 23px;
}

.sect4-div2 {
  margin-left: 57.33px;
}

.sect4-div3 {
  margin-left: 62.71px;
}
.sect4-div-p {
  width: 261px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #382459;
}

}







/* !Section -5 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@500;700&display=swap");
.crestfallen {
  display: flex;
  padding: 106px 160px 106px 120px;
  background-color: #2e1e49;
  width: 1200px;
  height: 720px;
}
.odin {
  color: #30ffcd;
  width: 450px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.03em;
  line-height: 48px;
  height: 48px;
  display: block;
}
.tuss {
  color: #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 123%;
  width: 400px;
}

.right {
  margin-left: 80px;
  display: block;
}
.ramo {
  margin-top: 80px;
}
.ecos {
  width: 192px;
  height: 48px;
  border: 2px solid #33dfc0;
  box-sizing: border-box;
  border-radius: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}
.red {
  margin-top: 100px;
}
.blue {
  margin-top: 32px;
}

.samus {
  height: 264px;
}

.flash {
  display: none;
}
.success {
  display: none;
}
.purple {
  display: none;
}

/* !Section -6 */

.super {
  background-color: #ffffff;
  display: flex;
  height: 360px;
}
<<<<<<< HEAD
.ficious {
  margin-top: 114px;
  margin-left: 120px;
=======
.ficious{
    
    margin-top: 114px;
    margin-left: 120px;
    
>>>>>>> a4f7570a12c7a65977122b9cd32476c231f7a5ef
}
.hazard {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 50px;
  letter-spacing: 00.03em;
  color: #382459;
  width: 496px;
  height: 50px;
}
.therefore {
  width: 370px;
  height: 150px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #382459;
  margin-top: 50px;
}

.malcik {
  width: 464px;
  height: 650px;
  margin-left: 56px;
  display: block;
}

/* !Section -7 */
.storm{
    display: flex;
    background-color: #382459;
    padding: 152px 288px 136px 120px;
    height: 576px;
}
.umbrella{
    font-family: Oswald;
font-size: 47px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0.03em;
text-align: left;
color: #30FFCD;
width: 402px;
height: 100px;

}
.water{
    margin-top: 27px;font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 480px;
    height: 70px;
    color: #FFFFFF;
    




}

.ice{
    height: 48px;
width: 224px;
border-radius: 48px;
background-color: rgba(255, 29, 192, 1);
color: #FFFFFF;
margin-top: 43px;

}
.rain{
 
width: 539px;




}













/* !Section -8 */
