/* !Global Css */
* {
  padding: 0;
  margin: 0;
}
/* !Section -1 */
.section-1 {
  height: 704px;
}

.sec1-opacity {
  height: 704px;
}
.sec1-gradient {
  height: 704px;
  padding: 40.45px 48px 172px 48.28px;
}
.bg-pic {
  width: 100%;
  height: 704px;
  background-image: url(../img/sec-1-desk.svg);
}
.desktop-side {
  display: flex;
  align-items: center;
}
.desktop-side .codeForFuture {
  width: 144px;
  height: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.desktop-side .number {
  width: 160px;
  height: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  margin-left: 60px;
}
.sec1-nav {
  margin-bottom: 113.97px;
}
.sec1-nav .algoritmika {
  width: 166.62px;
  height: 39.29px;
}
.sec1-nav .menu-icon {
  display: none;
}
.sec1-main {
  padding-left: 72px;
}
.sec1-main h2 {
  width: 560px;
  height: 140px;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0.03em;
  margin-bottom: 26px;
}
.sec1-main p {
  width: 628px;
  height: 84.49px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 47.5px;
}
.sec1-main .starting-date {
  width: 260px;
  height: 24px;
  font-size: 18px;
  line-height: 20px;
}

.sec1-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 252px;
}
.sec1-footer img:first-child {
  width: 163px;
  height: 37px;
  margin-left: 35px;
}
.sec1-footer img:last-child {
  width: 115.68px;
  height: 68px;
}

/* !Section -2 */
.section-2 {
  padding: 117.98px 112px 104.38px 120px;
  position: relative;
}
.section-2 > h2 {
  width: 705.85px;
  height: 50.02px;
  font-size: 47px;
  line-height: 50px;
  margin-bottom: 136px;
}
.sec2-main {
  display: flex;
}
.aboutJOb {
  margin-right: 88px;
}
.aboutJob-icon {
  margin-bottom: 33.98px;
  width: 74.97px;
  height: 73.02px;
}
.aboutJob-icon img {
  width: 74.97px;
  height: 73.02px;
  margin-bottom: 33.98px;
}
.aboutJOb h3 {
  width: 260px;
  height: 73.97px;
  font-size: 25px;
  line-height: 32px;
}
.aboutJOb p {
  width: 412.67px;
  height: 126.03px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.aboutUniversity-icon img {
  width: 85.13px;
  height: 91.32px;
  margin-bottom: 5px;
}
.aboutUniversity h3 {
  width: 368px;
  height: 66.03px;
  font-size: 25px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 21px;
}
.aboutUniversity p {
  width: 352.16px;
  height: 93.37px;
  font-size: 16px;
  line-height: 24px;
}
.sec-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13.2857px 29.5238px;
  width: 224px;
  height: 48px;
  position: absolute;
  top: 124px;
  right: 112px;
  cursor: pointer;

}

/* !Section -3 */

.sect3 {
  height: 654px;
  position: relative;
}

.sect3-container {
  height: 654px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 73.27px;
  padding: 98.92px 290px 106px 120px;
}
.sect3-div-left {
  margin-right: 88px;
}
.sect3-h2 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 40px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #30ffcd;
}

.sect3-p1 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 9px;
}

.sect3-p2 {
  width: 276.78px;
  height: 30.01px;
  font-size: 10.0042px;
  line-height: 15px;
}
.sect3 .sect3-container .sect3-div1 .sect3-p2 {
  margin-bottom: 61px;
}

.sect3 .sect3-container .sect3-div3 .sect3-p2 {
  margin-bottom: 56.96px;
}
.sect3 .sect3-container .sect3-div2 .sect3-p2 {
  width: 247.85693359375px;
  margin-top: 9px;
  margin-bottom: 56px;
}

.sect3 .sect3-p1:first-child {
  margin-top: 16px;
  margin-bottom: 9px;
}
.sect3 .sect3-p1:nth-child(2) {
  font-size: 16px;

  line-height: 24px;
}
.first-p {
  width: 308px !important;
  height: 82.04px !important;
  margin-bottom: 25px !important;
}
.second-p {
  width: 412.14px !important;
  height: 96.03px !important;
  margin-bottom: 11px !important;
}
.third-p {
  width: 287.68px !important;
  margin-bottom: 39px !important;
}
.fourth-p {
  width: 360px !important;
  height: 54.02px !important;
  margin-bottom: 53px !important;
}
.sect3 .sect3-container .sect3-div4 .sect3-p2 {
  margin-bottom: 100.42px;
}

.sect3 > img {
  width: 96px;
  height: 128px;
  position: absolute;
  right: 29px;
  bottom: -15px;
}

/* !Section -4 */
.sect4 {
  padding-bottom: 0;
}

.sect4 .sect4-container {
  padding: 110px 119px 140px 120px;
}

.sect4-head {
  font-size: 47px;
  line-height: 50px;
}

.sect4-div {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 111px;
}
.sect4-div1 {
  margin-right: 43px;
}
.sect4-div2 {
  margin-top: 0;
  margin-right: 43px;
}

.sect4-div3 {
  margin-top: 0;
}

.sect4-div-h {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #382459;
  margin-bottom: 23px;
}
.first-h {
  width: 216px;
  height: 64px;
  font-size: 25px;
  line-height: 32px;
}
.sec4-first-p {
  width: 269px;
  height: 142px;
}
.second-h {
  width: 319px;
  height: 64px;
  font-size: 25px;
  line-height: 32px;
}
.sec4-second-p {
  width: 260.67px;
  height: 126.03px;
}
.third-h {
  width: 237px;
  height: 64px;
  font-size: 25px;
  line-height: 32px;
}
.sec4-second-p {
  width: 260.67px;
  height: 126.03px;
}

.sect4-div-p {
  font-size: 16px;
  line-height: 24px;
}
.sect4-div1 h3 span {
  display: block;
}

/* !Section -5 */

.crestfallen {
  display: flex;
  justify-content: space-between;
  padding: 106px 12% 106px 120px;
  background-color: #2e1e49;
  height: 720px;
}
.odin {
  color: #30ffcd;
  width: 450px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.03em;
  line-height: 48px;
  height: 48px;
  display: block;
}
.tuss {
  color: #ffffff;
  line-height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 400px;
}

.right {
  margin-left: 80px;
  display: block;
}
.ramo {
  margin-top: 80px;
}
.ecos {
  width: 192px;
  height: 48px;
  border: 2px solid #33dfc0;
  box-sizing: border-box;
  border-radius: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}
.red {
  margin-top: 150px;
  margin-left: 0;
  cursor: pointer;
}
.blue {
  margin-top: 69px;
  margin-left: 0;
  cursor: pointer;

}
.samus {
  height: 264px;
}
.flash {
  display: none;
}
.success {
  display: none;
}
.purple {
  display: none;
}

/* !Section -6 */
.super {
  background-color: #ffffff;
  display: flex;
  height: 420px;
  padding: 114px 64px 56px 120px;
  position: relative;
}

.hazard {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 50px;
  letter-spacing: 00.03em;
  color: #382459;
  width: 496px;
  height: 50px;
}
.therefore {
  width: 370px;
  height: 150px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #382459;
  margin-top: 50px;
}

.malcik {
  position: absolute;
  top: -90px;
  right: 50px;
  width: 464px;
  height: 650px;
  margin-left: 56px;
  display: block;
}

/* !Section -7 */
.storm {
  display: flex;
  background-color: #382459;
  padding: 22px 200px 136px 61px;
  height: 576px;

}
.rain {
  width: 538.59px;
height: 538.59px;
position: relative;
left: 30px;
top: 0;
  z-index: 1;
}
.umbrella {
  margin-top: 152px;
  font-family: Oswald;
  font-size: 47px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #30ffcd;
  width: 402px;
  height: 100px;
}
.water {
  margin-top: 27px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  width: 480px;
  height: 70px;
  color: #ffffff;
}

.ice {
  height: 48px;
  width: 224px;
  border-radius: 48px;
  background-color: rgba(255, 29, 192, 1);
  color: #ffffff;
  margin-top: 43px;
  cursor: pointer;
}
.rain {
  width: 539px;
}

/* !Section -8 */

.sec-8 {
  display: flex;
  justify-content: space-between;
  padding: 90px 120px 90px 120px;
}
.sec8-icon{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.sec8-icon img:first-child{
  width: 188px;
height: 43px;
margin-right: 0;
margin-bottom: 50px;
}
.sec8-icon img:last-child{
  width: 19px;
  height: 19px;
}
.sec8-main{
  margin-bottom: 0;
}
.sec8-main > .gmail{
width: 456px;
font-size: 16px;
line-height: 24px;
margin-bottom: 44px;
}
.sec8-main > .main-text{
  font-size: 16px;
  line-height: 24px;
}
.sec8-logos img:first-child{
  margin-bottom: 25px;
}











