@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:wght@300;400&family=Maven+Pro:wght@400;500;600;800&family=Montserrat:wght@300;400;500;700;800;900&family=Roboto+Slab:wght@100;200;300;700&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato:wght@300;400&family=Maven+Pro:wght@400;500;600;800&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;700&family=Roboto:wght@100;300;400;500;700&display=swap");

/* !Global Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
}

/* !Section -1 */
.section-1 {
  background-color: #382459;
  height: 574px;
  padding-bottom: 53.94px;
}
.sec1-opacity {
  background: #382459;
  opacity: 0.5;
  height: 332px;
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 100%;
}
.sec1-gradient {
  background: linear-gradient(
    357.36deg,
    #382459 5.53%,
    rgba(56, 36, 89, 0.44) 38.94%,
    rgba(56, 36, 89, 0) 110.68%
  );
  width: 100%;
  height: 332px;
  position: absolute;
  top: 0;
  z-index: 3;
  padding: 32.16px 20px 0px 32px;
}
.bg-pic {
  width: 100%;
  height: 332px;
  background-image: url(../img/sec1-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.desktop-side{
  display: none;
}
.sec1-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 145.78px;
  z-index: 3;
}

.sec1-main {
  margin-bottom: 55.92px;
}
.sec1-main > h2 {
  width: 256px;
  height: 67.64px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #30ffcd;
  margin-bottom: 20.48px;
}
.sec1-main p {
  width: 268px;
  height: 80.93px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 25px;
  margin-left: 0;
}
.sec1-main > .starting-date {
  width: 198px;
  height: 20.14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 42.29px;
}
.sec1-footer {
  display: flex;
  align-items: center;
}
.sec1-footer img:last-child {
  width: 64px;
  height: 37.63px;
  margin-left: 28px;
}

/* !Section -2 */
.section-2 {
  padding: 68px 28px 88px 32px;
}
.section-2 > h2 {
  width: 80vw;
  height: 50.02px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 24.7px;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: #382459;
  margin-bottom: 47.86px;
}
.aboutJob-icon {
  width: 52.93;
  height: 51.55px;
  margin-bottom: 26.55px;
}
.aboutJOb h3 {
  width: 196px;
  height: 52.23px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #382459;
}
.aboutJOb p {
  width: 256px;
  height: 68px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #382459;
  margin: 0;
  margin-bottom: 46.58px;
}
.aboutUniversity-icon img {
  width: 60.1px;
  height: 64.48px;
  margin-bottom: 16.94px;
  margin-left: 0;
}
.aboutUniversity h3 {
  width: 260px;
  height: 46.62px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #382459;
  margin: 0;
  margin-bottom: 13.38px;
}
.aboutUniversity p {
  width: 248px;
  height: 76px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #382459;
  margin-bottom: 56px;
}
.sec-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13.2857px 29.5238px;
  width: 193.54px;
  height: 40px;
  background: #ff1dc0;
  border-radius: 40px;
  border: none;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15.0508px;
  line-height: 18px;
}




/* !Section -3 */

.sect3-container {
  background-color: #382459;
  width: 320px;
  height: 824px;
  padding-right: 32px;
}

.sect3-h1 {
  padding-left: 32px;
  margin-bottom: 21.38px;
  padding-top: 78.27px;
  font-family: Oswald;
  font-style: Medium;
  font-size: 40px;
  line-height: 33.35px;
  line-height: 56%;
  vertical-align: Top;
  letter-spacing: 3%;
  fill: Solid;
  color: #30ffcd;
}

.sect3-1-p1 {
  padding-left: 32px;
  font-style: Medium;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 16px;
  line-height: 119%;

  vertical-align: Top;
  fill: Solid;
  color: #ffffff;
}

.sect3-1-p2 {
  margin-top: 12.94px;
  padding-left: 32px;
  font-family: Montserrat;
  font-style: Medium;
  font-size: 9px;
  line-height: 15.01px;
  line-height: 137%;
  align: Left;
  vertical-align: Top;
  opacity: 62%;
  fill: Solid;
  color: #ffffff;
}

.sect3-h2 {
  padding-left: 32px;
  margin-top: 53.02px;
  font-family: Oswald;
  font-style: Medium;
  font-size: 40px;
  line-height: 33.35px;
  line-height: 56%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  fill: Solid;
  color: #30ffcd;
}

.sect3-2-p1 {
  margin-top: 21.6px;
  padding-right: 32px;
  padding-left: 32px;
  font-style: Medium;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 16px;
  line-height: 119%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #ffffff;
}

.sect3-2-p2 {
  margin-top: 13px;
  padding-left: 32px;
  font-family: Montserrat;
  font-style: Medium;
  font-size: 9px;
  line-height: 15.01px;
  line-height: 137%;
  align: Left;
  vertical-align: Top;
  opacity: 62%;
  fill: Solid;
  color: #ffffff;
}

.sect3-h3 {
  padding-left: 12px;
  margin-bottom: 21.6px;
  margin-top: 60.96px;

  font-family: Oswald;
  font-style: Medium;
  font-size: 40px;
  line-height: 33.35px;
  line-height: 56%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  fill: Solid;
  color: #30ffcd;
}

.sect3-3-p1 {
  padding-right: 40px;
  padding-left: 32px;
  margin-bottom: 9px;
  font-style: Medium;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 16px;
  line-height: 119%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #ffffff;
}

.sect3-3-p2 {
  padding-left: 32px;
  margin-bottom: 56.5px;
  font-family: Montserrat;
  font-style: Medium;
  font-size: 9px;
  line-height: 15.01px;
  line-height: 137%;
  align: Left;
  vertical-align: Top;
  opacity: 62%;
  fill: Solid;
  color: #ffffff;
}

.sect3-h4 {
  padding-left: 32px;
  margin-bottom: 21.74px;

  font-family: Oswald;
  font-style: Medium;
  font-size: 40px;
  line-height: 33.35px;
  line-height: 56%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  fill: Solid;
  color: #30ffcd;
}

.sect3-4-p1 {
  padding-right: 32px;
  padding-left: 32px;
  margin-bottom: 22.16px;
  font-style: Medium;
  font-family: Montserrat;
  font-size: 11px;
  line-height: 16px;
  line-height: 119%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #ffffff;
}

.sect3-4-p2 {
  margin-top: 20.57px;
  padding-left: 32px;

  font-family: Montserrat;
  font-style: Medium;
  font-size: 9px;
  line-height: 15.01px;
  line-height: 137%;
  align: Left;
  vertical-align: Top;
  opacity: 62%;
  fill: Solid;
  color: #ffffff;
}

/* !Section -4 */

.sect4-container {
  background-color: white;
  width: 320px;
}

.sec4-h1 {
  padding-left: 32px;
  padding-right: 16px;
  margin-top: 78.96px;
  color: #382459;
  weight: 700, Bold;
  font-family: Oswald;
  font-style: Bold;
  font-size: 24.7px;
  line-height: 28px;
  line-height: 76%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
}

.sec4-div1-h {
  padding-left: 32px;
  margin-top: 53.01px;
  margin-bottom: 12px;
  font-family: Montserrat;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 20px;
  line-height: 91%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #382459;
}

.sec4-div2-h {
  padding-left: 32px;
  padding-right: 40px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 20px;
  line-height: 91%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #382459;
}

.sec4-div3-h {
  padding-left: 32px;
  margin-bottom: 12px;
  font-family: Montserrat;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 20px;
  line-height: 91%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #382459;
}

.sec4-p1 {
  padding-left: 32px;
  margin-bottom: 28px;
  font-family: Montserrat;
  font-style: Medium;
  font-size: 11px;
  line-height: 16px;
  line-height: 119%;
  align: Left;
  vertical-align: Top;
  paragraph-spacing: 14.13px;
  fill: Solid;
  color: #382459;
  weight: 500, Medium;
}

.sec4-p2 {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
  font-family: Montserrat;
  font-style: Medium;
  font-size: 11px;
  line-height: 16px;
  line-height: 119%;
  align: Left;
  vertical-align: Top;
  paragraph-spacing: 14.13px;
  fill: Solid;
  color: #382459;
  weight: 500, Medium;
}

.sec4-p3 {
  padding-left: 32px;
  padding-right: 28px;
  padding-bottom: 56px;
  font-family: Montserrat;
  font-style: Medium;
  font-size: 11px;
  line-height: 16px;
  line-height: 119%;
  align: Left;
  vertical-align: Top;
  paragraph-spacing: 14.13px;
  fill: Solid;
  color: #382459;
  weight: 500, Medium;
}

/* !Section -5 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@500;700&display=swap");
.crestfallen {
  background-color: #2e1e49;
  padding: 43px 20px 68px 20px;
}
.flash {
  display: block;
  color: #30ffcd;
  font-family: "Oswald";
  font-style: Bold;
  font-size: 24.7px;
  line-height: 28px;
  line-height: 76%;

  letter-spacing: 3%;
  width: 272px;
  margin-top: 30px;
  margin-left: 16px;
  height: 28px;
  width: 272px;
}

.right {
  display: none;
}
.admin {
  display: block;
}
.success {
  display: block;
}
.odin {
  display: none;
}


p {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  /* margin-left: 10px; */
}
.purple {
  display: block;
  color: #ff1dc0;
  width: 10px;
  height: 10px;
}
.pink {
  display: flex;
}
.ecos {
  width: 135px;
  height: 40px;
  border-radius: 48px;
  border: 1px solid #30ffcd;
  color: #30ffcd;
  font-family: "Montserrat";
  font-style: Medium;
  font-size: 11px;
  line-height: 119%;
  margin-top: 30px;
  background-color: #2e1e49;
}

/* !Section -6 */
.hazard {
  font-family: "Oswald";
  font-size: 25px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;

  color: #382459;
}

.therefore {
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 17px;
  color: #382459;
}
.ficious {
  margin-top: 79px;
}

.super {
  padding: 79px 16px 84px 32px;
  background-color: #ffffff;
}
.malcik {
  display: none;
}

/* !Section -7 */

/* !Section -8 */
